* {
    /* border: dotted 1px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    height: 100%;
    font-family: "Figtree";
}

body {
    height: 100%;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    width: 327px;
    height: 501px;
    border-radius: 20px;
    padding: 24px;
    border: solid 1px black;
    box-shadow: black 8px 8px;
}

img {
    width: 279px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#info {
    margin: 24px 0;
    width: 279px;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#tag {
    width: 73px;
    height: 26px;
    align-content: center;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
}

#tag p{
    font-size: 12px;
    font-weight: 800;
}

#date {
    font-size: 12px;
}

h1 {
    font-size: 20px;
}

#content {
    font-size: 14px;
    color: hsl(0, 0%, 50%);
}

#author {
    width: 129px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

#author img {
    width: 32px;
    height: 32px;
}

#author p{
    align-content: center;
    font-size: 14px;
    font-weight: 800;
}

.attribution {
    display: none;
}